body{
    background-color: rgb(228, 228, 228);
}
.main{
    padding: 50px;
}
.navbar{
    background-color:#1f456a !important;
}
// Search styling
#search{
    background-color:#1f456a !important;
    border-color: #1f456a;
    width: 350px !important;
    color: white !important;
    font-size: 15px;
}
#search-clear{ //for white X, but not working
    color: white !important;
}
// On top button
#onTop {
    // float: right;
    // margin-bottom: 30px;
    // margin-right: 30px;

    // display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    // border: solid black;
    // border-radius: 25px;
}
// Dropdown manipulation
.dropdown-menu{
    background-color:#1f456a !important;
    color: azure !important;
}
.dropdown-item{
    color: azure !important;
}
.dropdown-item:hover{
    color: rgb(10, 10, 10) !important;
}
.page-item.active .page-link{
    background-color:#1f456a !important;
    border-color: black;
}
// Textarea in create post-size
.ck-editor__editable {
    min-height: 200px !important;
}
// Mansory manipulation from bootstrap
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
}